:root {
  --default-color: #444444;
  --heading-color: #37517e;
  --accent-color: #47b2e4;
  --contrast-color: #ffffff;

  --nav-color: #ffffff;
  --nav-hover-color: #47b2e4;

  --background-color: #37517e;
  --surface-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

body h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

body p {
  margin: 0;
}

/*code, .counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.card {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

body {
  font-family: 'Poppins', sans-serif;
}